<div class="main-container">
<div class="card mb-0">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>

</div>

    <div class=" m-2 del-forum-post">
        <button class="btn btn-sm btn-danger" data-id="{{forum.id}}">DELETE POST</button>
    </div>
  </div>




    {{!-- comment section --}}
    <div class="comment mt-0">
<div class="new-forum-form">
    <div class="form-floating">
          <textarea class="form-control" 
                    placeholder="Leave a comment here" 
                    id="floatingTextarea forum-comments"
                    ></textarea>
  <label for="floatingTextarea forum-comments">Leave a comment here.</label>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2 " type="submit" data-id="{{forum.id}}">Add Comment</button>
  </div>
  </div>
</div>
</div>

{{!-- displayed comments --}}
  <div class="card pb-2">
  <div class="card-header">
    {{user.name}}
  </div>
  <div class="card-body ">
    <blockquote class="blockquote mb-0">
      <p>{{comments}}</p>
      <footer class="blockquote-footer">{{user.name}}</footer>
    </blockquote>
  </div>
</div>


</div>

<script src="/js/delete_button.js"></script>
<script src="/js/forum.js"></script>